
@font-face {
    font-family: 'Yuji Mai';
    src: url('../ttf/YujiMai/YujiMai-Regular.ttf');
    font-weight: 400;
    font-display: block;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../ttf/Roboto/Roboto-Thin.ttf');
    font-weight: 100;
    font-display: block;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../ttf/Roboto/Roboto-Light.ttf');
    font-weight: 300;
    font-display: block;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../ttf/Roboto/Roboto-Regular.ttf');
    font-weight: 400;
    font-display: block;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../ttf/Roboto/Roboto-Medium.ttf');
    font-weight: 500;
    font-display: block;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../ttf/Roboto/Roboto-Bold.ttf');
    font-weight: 700;
    font-display: block;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../ttf/Roboto/Roboto-Black.ttf');
    font-weight: 900;
    font-display: block;
    font-style: normal;
}
